/* ================= HERO WRAPPER ================= */
.hero {
  position: relative;
  height: 100vh;
  background:transparent;
  display: flex;
  align-items: center;

  overflow-x: hidden;   
  overflow-y: hidden;
}


.content {
  position: relative;
  z-index: 3;

  width: 720px;
  margin-left: auto;
  margin-right: clamp(64px, 10vw, 160px);
  margin-top: 30px;
}


.headings {
  display: flex;
  flex-direction: column;
  align-items: flex-end;     /* right edge equal */
  padding-left: 70px;
  margin-top: 50px;

}

.line {
  font-family: "Press Start 2P", monospace;
  font-size: 69px;
  line-height: 1.15;
  color: #ffffff;
  letter-spacing: 3px;
  margin: 0 0 26px 0;
  text-transform: uppercase;
  font-weight: 400;
  white-space: nowrap;      
}

/* ================= ABOUT BLOCK ================= */
.about {
  margin-top: 42px;
  max-width: 720px;
  margin-left: 30px;
}

/* ================= LABEL ================= */
.about span {
  display: block;
  font-family: "Press Start 2P", monospace;
  font-size: 20px;
  letter-spacing: 3px;
  color: #ff7a18;
  margin-bottom: 20px;
  text-transform: uppercase;
  margin-left: 80px;
}

/* ================= DESCRIPTION ================= */
.about p {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  margin-top: 0;
  font-size: 16px;
  line-height: 1.8;
  color: #cfcfcf;
  max-width: 560px;
    margin-left: 80px;

}
.pa{
  text-align: justify;
}
/* ================= LEFT LOGO ================= */
.logo {
  width: 550px;
  z-index: 2;
  animation: pulseGlow 2.5s infinite ease-in-out;
  filter: brightness(1.2);
  
}


@keyframes pulseGlow {
  0% {
    filter: drop-shadow(0 0 8px rgba(255, 120, 0, 0.4));
  }
  50% {
    filter: drop-shadow(0 0 20px rgba(255, 120, 0, 0.9));
  }
  100% {
    filter: drop-shadow(0 0 8px rgba(255, 120, 0, 0.4));
  }
}