
.wrapper {
  width: 100%;
  padding: 0px 0;
  display: flex;
  flex-direction: column;
  gap: 80px;
  margin-top: 0%;
  margin-bottom: 30px;
}


.splitCard,
.splitCardReverse {
  width: 92%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding: 60px 5%;
  border-radius: 32px;
  background: linear-gradient(135deg,#141414,#0c0c0c);
  border: 1px solid rgba(255,140,40,0.25);
  box-shadow:
    0 0 100px rgba(255,140,40,0.08),
    inset 0 0 60px rgba(255,140,40,0.05);
  transition: all 0.5s ease;
}

/* Hover */
.splitCard:hover,
.splitCardReverse:hover {
  box-shadow:
    0 0 150px rgba(255,140,40,0.25),
    inset 0 0 60px rgba(255,140,40,0.1);
}


.imageSide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageSide img {
  width: 70%;
  max-width: 400px;
  border-radius: 20px;
  opacity: 0.9;
  transition: transform 0.4s ease;
}

.splitCard:hover img,
.splitCardReverse:hover img {
  transform: scale(1.05);
}


.contentSide {
  padding: 0 40px;
}

.contentSide h2 {
  font-size: 38px;
  margin-bottom: 30px;
  color: #ff7a18;
}

.contentSide p {
  font-size: 15.5px;
  line-height: 1.8;
  color: #d4d4d4;
  margin-bottom: 20px;
}

.subTitle {
  margin-top: 20px;
  font-weight: 500;
  color: #ff7a18;
}

.contentSide ul {
  padding-left: 20px;
  margin: 15px 0 25px 0;
}

.contentSide li {
  margin-bottom: 12px;
  font-size: 14.5px;
  color: #cfcfcf;
}


.splitCardReverse .contentSide {
  order: 1;
}

.splitCardReverse .imageSide {
  order: 2;
}


@media (max-width: 1100px) {

  .splitCard,
  .splitCardReverse {
    grid-template-columns: 1fr;
    gap: 40px;
  }

  .splitCardReverse .contentSide,
  .splitCardReverse .imageSide {
    order: unset;
  }

  .contentSide {
    padding: 0;
  }

  .imageSide img {
    width: 85%;
  }
  .contentSide h2{
    font-size: 18px;
  }
}
